// متغيرات الألوان
$primary-color: #4ac396; // لون أساسي
$secondary-color: #6c757d; // لون ثانوي
$success-color: #28a745; // لون نجاح
$info-color: #17a2b8; // لون معلومات
$warning-color: #ffc107; // لون تحذير
$danger-color: #dc3545; // لون خطر

$color-icon: #4ac396;