// متغيرات الألوان
$primary-color: #4ac396; // index.html
$secondary-color: #6c757d; // لون ثانوي
$the-tourist-tour-2-color: #007bff;
$the-tourist-tour-color: #D4AF37;

$radius: 25%;

// responsive
@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 576px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 1200px) { @content; }
  }
}