@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000


// تنسيقات العناصر
body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "cairo";
}

.container {
  padding: 20px;
}

header {
  margin-bottom: 40px;
}

.header-description {
  font-size: 20px;
    line-height: 2;
    word-spacing: 2px;
}

h2.section-header {
  color: $primary-color;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;
}

h2.section-header::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  height: 4px;
  transform: translateX(-50%);
  width: 50px;
  background-color: $primary-color;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: darken($primary-color, 10%);
}

.service-item {
  text-align: center; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 2px solid $color-icon;
}

.service-item p {
  margin-bottom: 0; 
}


.service-title {
  font-weight: 700;
  margin: 20px 0;
}

.service-description {
  font-size: 16px;
  line-height: 1.7;
}

.service-icon {
  color: $color-icon;
  font-size: 34px;
}


.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-title {
  color: $secondary-color;
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  color: #555;
  font-size: 16px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tour-description {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
}

.tour-gallery {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.gallery-item img {
  max-height: 300px;
  width: auto;
  margin-bottom: 20px;
}

.gallery-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* أنماط الوضع الداكن */
.dark-mode {
  background-color: #222;
  color: #fff;
}



.dark-mode .card {
  background-color: #333; /* خلفية الكارد في وضع الداكن */
  color: #fff; /* لون النص في وضع الداكن */
}


// icon dark mode style

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

