@import "./variables";
@import "./buttonDarkMode";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

// تنسيقات العناصر
body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "cairo";
}

.container {
  padding: 20px;
}

header {
  margin-bottom: 40px;

  @include breakpoint(medium) {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .header-description {
    font-size: 20px;
    line-height: 2;
    word-spacing: 2px;

    @include breakpoint(mobile) {
      font-size: 16px;
      line-height: 1.5;
      word-spacing: 1px;
    }
  }
}

.main-icon {
  fill: #4ac396;
  height: 100px;

  @media (max-width: 380px) {
    height: 75px !important;
  }
}

.main-title {
  @media (max-width: 380px) {
    font-size: 34px;
  }
}

h2.section-header {
  color: $primary-color;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;

  @include breakpoint(mobile) {
    font-size: 20px;
  }
}

h2.section-header::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  height: 4px;
  transform: translateX(-50%);
  width: 50px;
  background-color: $primary-color;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.btn-primary-1 {
  background-color: $primary-color;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary-1:hover {
  background-color: darken($primary-color, 10%);
}

//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
// index.html


.service-item {
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid $primary-color;

  @include breakpoint(medium) {
    height: 300px;
  }

  @include breakpoint(small) {
    height: 350px;
    padding: 20px 10px;
  }

  @include breakpoint(mobile) {
    height: initial;
    padding: 20px 10px;
  }

}

.service-item p {
  margin-bottom: 0;
}


.service-title {
  font-weight: 700;
  margin: 20px 0;
}

.service-description {
  font-size: 16px;
  line-height: 1.7;
}

.service-icon {
  color: $primary-color;
  font-size: 34px;
}


.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  color: #777;
  font-size: 16px;
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contact-info {
  margin-top: 30px;
}


////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////


.tour-description {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
}

.tour-gallery {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.gallery-item img {
  max-height: 300px;
  width: auto;
  margin-bottom: 20px;
}

.gallery-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}