// صفحة الرحلة الى مصر

@include color-page($the-tourist-tour-color, "the-tourist-tour", "4.jpg");

// صفحة الرحلة الى تركيا

@include color-page($the-tourist-tour-2-color, "the-tourist-tour-2", "t8.avif");


// تنسيقات صفحات الرحلات

.custom-carousel {
  margin: 60px auto;
  width: 70%;

  @include breakpoint(small) {
    width: 85%;
  }

  img {
    height: 460px;

    @include breakpoint(large) {
      height: 400px;
    }

    @include breakpoint(small) {
      height: 280px;
    }

    @include breakpoint(mobile) {
      height: 230px;
    }
  }
}

.gallery-small-images {
  width: 90%;
  margin: 0 auto;

  div {
    width: 25%;
    padding: 0;

    img {
      height: 100%;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.tour-content {
  margin: 40px 0;
  font-size: 24px;
  line-height: 1.8;

  @include breakpoint(mobile) {
    font-size: 16px;
  }
}

.tour-title {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  padding: 20px;
  width: 50%;
  margin: 0 auto 30px;
  border: 2px solid $primary-color;
  border-radius: $radius;
  line-height: 1.8;

  @include breakpoint(medium) {
    font-size: 24px;
    width: 75%;
  }

  @include breakpoint(mobile) {
    font-size: 20px;
    word-spacing: 3px;
  }
}

.ordered-list {
  text-align: right;

  li {
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 1.9;

    @include breakpoint(mobile) {
      font-size: 14px;
    }

    &::before {
      content: "";
      border: 10px solid;
      position: absolute;
      display: block;
      top: 8px;
      right: -18px;
    }
  }
}