

// صفحة الرحلة الى مصر 


.the-tourist-tour, .the-tourist-tour-2 {
  margin: 50px 0;
  $primary-color: $the-tourist-tour-color;

  header {
    .main-icon {
      fill: $primary-color;
    }

    .btn-primary-1 {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .tour-title {
    color: $primary-color;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    padding: 20px;
    width: 50%;
    margin: 0 auto 30px;
    border: 2px solid $primary-color;
    border-radius: $radius;
    @include breakpoint(mobile) {
      font-size: 20px;
    }
  }

  .ordered-list {
    text-align: right;
    li {
      list-style: none;
      position: relative;
      font-size: 16px;
      line-height: 1.9;
      @include breakpoint(mobile) {
        font-size: 14px;
      }

      &::before {
        content: "";
        border: 10px solid;
        border-color: transparent $primary-color transparent transparent;
        position: absolute;
        display: block;
        top: 8px;
        right: -18px;
      }
    }
  }
  .gallery-title {
    text-align: center;
    color: $primary-color;
  }
}


/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
// صفحة الرحلة الى تركيا 

.the-tourist-tour-2 {
  $primary-color: $the-tourist-tour-2-color;

  header {
    .main-icon {
      fill: $primary-color;
    }

    .btn-primary-1 {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .tour-title {
    color: $primary-color;
    border: 2px solid $primary-color;
  }

  .ordered-list {
    li {
      &::before {
        border-color: transparent $primary-color transparent transparent;
      }
    }
  }
  .gallery-title {
    color: $primary-color;
  }
}
